# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
.vscode/*
!.vscode/extensions.json
!.vscode/*.code-snippets

# Ignore tasks and launch configs
.vscode/tasks.json
.vscode/launch.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### MacOS ###
.DS_Store

### CMake ###
build/

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,c++